{% extends 'layout.twig' %}

{% block title %}
    {{ environmentObj.getTitle() }} <small>[{{ environmentObj.getBranch() }}]</small>
{% endblock %}

{% block contentClass %}header-box{% endblock %}

{% block headerSide %}
    <div class="info-box server-switch">
        {% if server %}
            <a href="{{ url('server-ftp-edit', {'id': server.getId(), 'environmentId': environmentObj.getId()}) }}" class="info-box-icon bg-yellow" title="Edit server"><i class="fa fa-server"></i></a>
            <div class="info-box-content">
                <span class="info-box-text">{{ server.getTitle() }}</span>
            </div>
            <div class="info-box-content buttons">
                <div class="btn-group">
                    <button type="button" class="btn btn-success btn-flat">Deploy</button>
                    <button type="button" class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="#">Mark all as deployed</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Add new server</a></li>
                    </ul>
                </div>
            </div>
        {% else %}
            <span class="info-box-icon bg-yellow" title="Edit server"><i class="fa fa-server"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">There is no server for this environment</span>
            </div>
            <div class="info-box-content buttons">
                <a href="{{ url('server-ftp-new', {'environmentId': environmentObj.getId()}) }}" class="btn btn-success btn-flat"><i class="fa fa-plus"></i></a>
            </div>
        {% endif %}
    </div>

{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-7" id="commits-list" data-environment-id="{{ environmentObj.getId() }}">
            <div class="box">
                <div class="box-body">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Author</th>
                                <th>Commit</th>
                            </tr>
                        </thead>
                        <tbody id="commit-list-body">
                            {% for commit in commits %}
                                {% spaceless %}
                                    <tr data-commit-hash="{{ commit.getCommitHash() }}">
                                        <td>{{ commit.getMessage() }}</td>
                                        <td data-sort="{{ commit.getDateTimestamp() }}">{{ commit.getDate()|raw }}</td>
                                        <td>{{ commit.getAuthorName()|raw }}</td>
                                        <td><span class="commit-hash">{{ commit.getCommitHashAbbrev() }}</span></td>
                                    </tr>
                                {% endspaceless %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-5" id="commit-files">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-commit-files" data-toggle="tab" id="tab-folder-commit-files">Commit Files</a></li>
                    <li><a href="#tab-diff" data-toggle="tab" class="load-diff">Files diff</a></li>
                    <li><a href="#tab-diff-deploy" data-toggle="tab" class="load-diff">Files diff to last deploy</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="tab-commit-files">
                        {% for commit in commits %}
                            <div class="commit-detail" id="commit-{{ commit.getCommitHash() }}">
                                {{ app.twig.render('Repository/_show-commit-detail.twig', {'commit': commit})|raw }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="tab-pane" id="tab-diff">
                        {% for commit in commits %}
                            <div class="commit-diff" id="diff-{{ commit.getCommitHash() }}" data-commit-from="{{ commit.getParentHash() }}" data-commit-to="{{ commit.getCommitHash() }}"></div>
                        {% endfor %}
                    </div>

                    <div class="tab-pane" id="tab-diff-deploy">
                        {% set showDiffDeploy = true %}
                        {% for commit in commits %}
                            {% if showDiffDeploy and commit.getCommitHash() != '' %}
                                <div class="commit-diff" id="diff-{{ commit.getCommitHash() }}-deploy" data-commit-from="" data-commit-to="{{ commit.getCommitHash() }}"></div>
                            {% else %}
                                {% set showDiffDeploy = false %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}