{% extends 'layout.twig' %}

{% block title %}
    {{ environmentObj.getTitle() }} <small>[{{ environmentObj.getBranch() }}]</small>
{% endblock %}

{% block headerSide %}
    <a href="{{ url('server-ftp-new', {'environmentId': environmentObj.getId()}) }}" class="btn btn-success btn-flat"><i class="fa fa-plus"></i>Add server</a>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-8" id="commits-list">
            <div class="box" data-environment-id="{{ environmentObj.getId() }}">
                <div class="box-body">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Author</th>
                                <th>Commit</th>
                            </tr>
                        </thead>
                        <tbody id="commit-list-body">
                            {% for commit in commits %}
                                {% spaceless %}
                                    <tr data-commit-hash="{{ commit.getCommitHash() }}">
                                        <td>{{ commit.getMessage() }}</td>
                                        <td data-sort="{{ commit.getDateTimestamp() }}">{{ commit.getDate()|raw }}</td>
                                        <td>{{ commit.getAuthorName()|raw }}</td>
                                        <td><span class="commit-hash">{{ commit.getCommitHashAbbrev() }}</span></td>
                                    </tr>
                                {% endspaceless %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4" id="commit-files">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-commit-files" data-toggle="tab">Commit Files</a></li>
                    <li><a href="#tab-diff" data-toggle="tab">Diff to last deploy</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="tab-commit-files">
                        {% for commit in commits %}
                            <div class="commit-detail" id="commit-{{ commit.getCommitHash() }}">
                                {{ app.twig.render('Repository/_show-commit-detail.twig', {'commit': commit})|raw }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="tab-pane" id="tab-diff">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}