{% import 'Default/macros.twig' as macros %}

{% spaceless %}
<strong>Commit:</strong> <span class="commit-hash">{{ commit.getCommitHash() }} [{{ commit.getCommitHashAbbrev() }}]</span><br />
<br />
{{ commit.getMessage() }}<br />
<br />
<table class="table table-condensed">
    <tbody>
        {%- for mode, files in commit.getFiles() %}
            {%- for file in files %}
                <tr>
                    <td>
                        <span class="file-ico {{ mode }} fa {{ macros.getIcoByFileMode(mode) }}"></span>
                        {{- file }}
                    </td>
                </tr>
            {%- endfor %}
        {%- endfor %}
    </tbody>
</table>
{% endspaceless %}