{% extends 'layout.modal.twig' %}

{% block title %}
    {% if editing %}
        {{ 'form.environment.edit'|trans() }}
    {% else %}
        {{ 'form.environment.add'|trans() }}
    {% endif %}
{% endblock %}

{% form_theme form 'Default/form.layout.bootstrap.twig' %}

{% block formStart %}
    {{ form_start(form, { "attr": {"class": "ajax", "novalidate": "novalidate"} }) }}
{% endblock %}

{% block formEnd %}
    {{ form_end(form) }}
{% endblock %}

{% block content %}
    <div class="box-body">
        {{ form_row(form.title) }}
        {{ form_row(form.branch) }}
    </div>
{% endblock %}

{% block footer %}
    <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> {{ 'form.submit'|trans() }}</button>
{% endblock %}
