{% extends 'layout.twig' %}

{% block title %}
    {{ environment.getTitle() }} <small>[{{ environment.getBranch() }}]</small>
{% endblock %}

{% block contentClass %}header-box{% endblock %}

{% block headerSide %}
    <div class="info-box server-switch">
        {% if serverType %}
            <a href="{{ url('server-edit', {'serverId': serverType.getId(), 'environmentId': environment.getId(), 'type': 'ftp'}) }}" class="info-box-icon bg-yellow" title="Edit server"><i class="fa fa-server"></i></a>
            <div class="info-box-content">
                <span class="info-box-text">{{ serverType.getTitle() }}</span>
            </div>
            <div class="info-box-content buttons">
                <div class="btn-group">
                    <a href="{{ url('deploy', {'environmentId': environment.getId(), 'serverId': server.getId(), 'commitHash': firstCommit.getCommitHash()}) }}" class="btn btn-success btn-flat console" data-modal-title="Deploying {{ firstCommit.getCommitHash() }}">Deploy</a>
                    <a class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </a>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="{{ url('mark', {'environmentId': environment.getId(), 'serverId': server.getId(), 'commitHash': firstCommit.getCommitHash()}) }}">Mark all as deployed</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Add new server</a></li>
                    </ul>
                </div>
            </div>
        {% else %}
            <span class="info-box-icon bg-yellow" title="Edit server"><i class="fa fa-server"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">There is no server for this environment</span>
            </div>
            <div class="info-box-content buttons">
                <a href="{{ url('server-new', {'environmentId': environment.getId(), 'type': 'ftp'}) }}" class="btn btn-success btn-flat"><i class="fa fa-plus"></i></a>
            </div>
        {% endif %}
    </div>

{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-7" id="commits-list" data-environment-id="{{ environment.getId() }}">
            <div class="box">
                <div class="box-body">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>&nbsp;</th>
                                <th>Date</th>
                                <th>Author</th>
                                <th>Commit</th>
                            </tr>
                        </thead>
                        <tbody id="commit-list-body">
                            {%- set labelNew = true -%}
                            
                            {% for commit in commits %}
                                {%- if commit.getCommitHash() == lastDeployedRevision -%}
                                    {% set labelNew = false -%}
                                {%- endif -%}

                                <tr data-commit-hash="{{ commit.getCommitHash() }}" data-commit-deployed="{% if labelNew %}0{% else %}1{% endif %}">
                                    <td>{{ commit.getMessage() }}</td>
                                    <td>
                                        {%- if labelNew -%}
                                            <span class="label label-warning">new</span>
                                        {%- else -%}
                                            <span class="label label-success">deployed</span>
                                        {%- endif -%}
                                    </td>
                                    <td data-sort="{{ commit.getDateTimestamp() }}">{{ commit.getDate()|raw }}</td>
                                    <td>{{ commit.getAuthorName()|raw }}</td>
                                    <td><span class="commit-hash">{{ commit.getCommitHashAbbrev() }}</span></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-5" id="commit-files">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-commit-files" data-toggle="tab" id="tab-folder-commit-files">Commit Files</a></li>
                    <li><a href="#tab-diff" data-toggle="tab" class="load-diff">Files diff</a></li>
                    {% if lastDeployedRevision %}
                        <li><a href="#tab-diff-deploy" data-toggle="tab" class="load-diff">Files diff to last deploy</a></li>
                    {% endif %}
                </ul>
                <div class="commit-buttons" id="commit-buttons" data-deploy-url="{{ deployUrlPrepared }}" data-mark-url="{{ markUrlPrepared }}">
                    <div class="btn-group" id="button-commit-deploy" style="display:none;">
                        <a class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </a>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#" class="deploy-link console">Deploy to this commit</a></li>
                            <li><a href="#" class="mark-link">Mark as deployed</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" id="button-commit-rollback" style="display:none;">
                        <a class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </a>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#" class="deploy-link console">Rollback to this commit</a></li>
                            <li><a href="#" class="mark-link">Mark as rolbacked</a></li>
                        </ul>
                    </div>
                </div>

                <div class="tab-content">
                    <div class="active tab-pane" id="tab-commit-files">
                        {% for commit in commits %}
                            <div class="commit-detail" id="commit-{{ commit.getCommitHash() }}">
                                {{ app.twig.render('Project/_show-commit-detail.twig', {'commit': commit})|raw }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="tab-pane" id="tab-diff">
                        {% for commit in commits %}
                            <div class="commit-diff" id="diff-{{ commit.getCommitHash() }}" data-commit-from="{% if commit.getParentHash() %}{{ commit.getParentHash() }}{% else %}-{% endif %}" data-commit-to="{{ commit.getCommitHash() }}"></div>
                        {% endfor %}
                    </div>

                    {% if lastDeployedRevision %}
                        <div class="tab-pane" id="tab-diff-deploy">
                            {% set showDiffDeploy = true %}
                            {% for commit in commits %}
                                {% if showDiffDeploy and commit.getCommitHash() != lastDeployedRevision %}
                                    <div class="commit-diff" id="diff-{{ commit.getCommitHash() }}-deploy" data-commit-from="{{ lastDeployedRevision }}" data-commit-to="{{ commit.getCommitHash() }}"></div>
                                {% else %}
                                    {% set showDiffDeploy = false %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{#{%- set labelNew = true -%}
{%- if not labelNew or commit.getCommitHash() == lastDeployedRevision -%}
    <span class="label label-success">deployed</span>
    {% set labelNew = false -%}
{%- else -%}
    <span class="label label-warning">new</span>
{%- endif -%}#}